.newsfeed {
   padding: 30px; 
}

.newposts {
        text-decoration: underline;
        color: #384745;
        font-family:  @MainFont;
        font-size: 20px;
        letter-spacing: 0.36px;
        line-height: 24px;
        text-align: center;
    }
    
   
    .allstories{
       margin: 0 auto; 
      width: auto;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      .singlestory {
         margin: 11px;
         img {
            object-fit: cover;
            max-width: 700px;
         }
      }
   }

