

.newposts {
         padding: 40px;
        text-decoration: underline;
        color: #384745;
        font-family:  @MainFont;
        font-size: 20px;
        letter-spacing: 0.36px;
        line-height: 24px;
    }
    
   
    .allstories{
       max-width: 1800px;
       justify-content: center;
      display: flex;
      flex-wrap: wrap;
      .singlestory {
         margin: 11px;
         img {
            object-fit: cover;
            max-width: 630px;
            border-radius: 50px;
         }
      }
   }

