.newposts {
    padding: 40px;
    text-decoration: underline;
    color: #384745;
    font-family: @MainFont;
    font-size: 20px;
    letter-spacing: 0.36px;
    line-height: 24px;
}


.allstories {
    max-width: 1800px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    .singlestory {
        margin: 11px;
        img {
            max-width: 350px;
            max-height: 400px;
            border-radius: 10px;
        }
        h1 {
            padding: 30px;
            font-size: 30px;
        }
    }
}
