.upload-container {
    padding: 30px 40px;

    .upload-img-container {
        height: 584px;
        width: 43%;
        border: 0.5px solid #979797;
        border-radius: 8px;
        background-color: rgba(235, 237, 254, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            margin-top: 25px;
            color: #384745;
            font-size: 2rem;
            letter-spacing: 0.36px;
            line-height: 24px;
            text-align: center;

        }
    }
}

.upload-top {
    display: flex;
}

.upload-bottom {
    display: flex;
    flex-direction: column;
}

.upload-btns {
    display: flex;
    justify-content: flex-end;
}