/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}
a {
  font-size: 2rem;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
.navigation-bar {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  padding: 15px 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 3px 2px 3px 0 #16BAC5;
}
.navigation-bar .nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.9rem;
}
.navigation-bar .nav-top a {
  color: #0D6C73;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.36px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid #0D6C73;
}
.navigation-bar .nav-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation-bar .nav-bottom .link-container {
  display: flex;
  align-items: center;
}
.navigation-bar .nav-bottom .link-container img {
  margin-left: 5px;
}
.navigation-bar .nav-bottom a {
  color: #384745;
  font-size: 2.5rem;
  letter-spacing: 0.45px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
}
.navigation-bar .nav-bottom .nav-search {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  height: 37px;
  width: 336px;
  border: 0.5px solid #979797;
  border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 2px 0 rgba(196, 196, 196, 0.5);
  padding: 7px;
  padding-left: 16px;
}
.auth-page {
  font-family: 'Montserrat', sans-serif;
  display: flex;
}
.auth-page .auth-column {
  flex: 50%;
  height: 1075px;
}
.auth-page .auth-left {
  background-image: url('../imgs/typewriter-801921_1920.jpg');
  background-size: auto 100%;
  background-position: right center;
}
.auth-page .auth-left .auth-logo {
  margin-left: 40px;
  margin-top: 15px;
}
.auth-page .auth-right {
  background-color: white;
  margin: auto;
  padding-left: 70px;
  padding-right: 70px;
}
.auth-page .auth-right .auth-nav-bar-sign-in {
  height: 48px;
  width: 182px;
  border-radius: 4px;
  background-color: #16bac5;
  color: #efe9f4;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0.45px;
  line-height: 30px;
  text-align: center;
  margin-top: 25px;
  position: absolute;
  right: 42px;
}
.auth-page .auth-right h1 {
  margin-top: 184px;
  color: #16bac5;
  font-size: 46px;
  font-weight: 600;
  letter-spacing: 0.84px;
  line-height: 57px;
  text-align: center;
  margin-bottom: 36px;
}
.auth-page .auth-right h3 {
  color: #16bac5;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 0.64px;
  line-height: 43px;
  text-align: center;
}
.auth-page .auth-right .auth-form {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.auth-page .auth-right .auth-form h2 {
  color: #65817d;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.55px;
  line-height: 37px;
  text-align: center;
  padding-top: 70px;
  margin-bottom: 5px;
}
.auth-page .auth-right .auth-form h4 {
  color: #000000;
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 0.51px;
  line-height: 34px;
  text-align: center;
  padding-top: 75px;
}
.auth-page .auth-right .auth-form h4 a {
  color: #21a4f2;
  font-size: 28px;
  font-weight: 300;
}
.auth-page .auth-right .auth-form .auth-extra-sign-in-header {
  padding-top: 0;
  font-size: 25px;
}
.auth-page .auth-right .auth-form .auth-extra-sign-in-header a {
  font-size: 25px;
}
.auth-page .auth-right .auth-form ::placeholder,
.auth-page .auth-right .auth-form input {
  color: #6a6a6a;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.36px;
  line-height: 24px;
  text-align: left;
}
.auth-page .auth-right .auth-form input {
  box-sizing: border-box;
  height: 58px;
  width: 100%;
  border: 1px solid #171d1c;
  border-radius: 4px;
  background-color: #ffffff;
  margin: 20px 0;
  padding-left: 22px;
  color: #424242;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.36px;
  line-height: 24px;
}
.auth-page .auth-right .auth-form input:not(:placeholder-shown) {
  border: 1px solid #16bac5;
}
.auth-page .auth-right .auth-form input:focus {
  outline: none;
  border: 1px solid #16bac5;
}
.auth-page .auth-right .auth-form input.error {
  border: 1px solid #c51616;
}
.auth-page .auth-right .auth-form .submit-rectangle {
  box-sizing: border-box;
  display: block;
  height: 48px;
  width: 182px;
  border: 1px solid #16bac5;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.46);
  color: #022f4a;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0.45px;
  line-height: 30px;
  text-align: center;
  margin: 20px auto;
}
.auth-page .auth-right .auth-form .sign-in-rectangle {
  color: #16bac5;
}
.upload-container {
  padding: 30px 40px;
}
.upload-container .upload-img-container {
  width: 840px;
  border: 0.5px solid #979797;
  border-radius: 8px;
  background-color: rgba(235, 237, 254, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.upload-container .upload-img-container p {
  margin-top: 25px;
  color: #384745;
  font-size: 2rem;
  letter-spacing: 0.36px;
  line-height: 24px;
  text-align: center;
}
.upload-top {
  display: flex;
  margin-bottom: 21px;
}
.upload-top .upload-form {
  margin-left: 40px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.upload-top .radio-btns {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.upload-top .radio-btns label {
  font-size: 2rem;
  cursor: pointer;
}
.upload-top .radio-btns p {
  font-size: 1.4rem;
}
.upload-top .radio-btns input {
  cursor: pointer;
}
.upload-top .input-container {
  font-weight: 300;
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
}
.upload-top .input-container:last-child {
  margin-bottom: 0;
}
.upload-top .input-container label {
  font-size: 2rem;
  margin-bottom: 4px;
}
.upload-top .input-container input {
  padding: 12px;
  color: #000000;
  font-weight: 300;
  letter-spacing: 0.49px;
  line-height: 33px;
  font-size: 2.7rem;
  height: 59px;
  width: 100%;
  border: 1px solid #000000;
  border-radius: 4px;
}
.upload-top .input-container input:focus {
  outline: none;
  border: 1px solid #16bac5;
}
.upload-top .title {
  margin-top: 15px;
}
.upload-bottom {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 2rem;
}
.upload-bottom label {
  margin-bottom: 4px;
}
.upload-bottom textarea {
  resize: none;
  padding: 13px;
  font-size: 2rem;
  height: 212px;
  border: 1px solid #000000;
  border-radius: 4px;
}
.upload-bottom textarea:focus {
  border: 1px solid #16BAC5;
}
.upload-btns {
  display: flex;
  justify-content: flex-end;
}
.userstory {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
}
.userstory .usertripinfo {
  margin: 20px;
}
.userstory .usertripinfo h1 {
  font-size: 30px;
}
.userstory .usertripinfo img {
  border-radius: 20px;
  max-width: 500px;
}
.headoftrip {
  max-width: 1300px;
  display: flex;
  margin: 0 auto;
  height: 40px;
  height: 100px;
}
.headoftrip .headbox {
  width: 970px;
}
.headoftrip .headbox button {
  display: inline-block;
  color: #EFE9F4;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.36px;
  text-align: center;
  box-sizing: border-box;
  width: 120px;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  background-color: #16BAC5;
}
.headoftrip .headbox .trash {
  margin: 0;
  display: inline-block;
  width: 28px;
}
.trip-title {
  margin: 30px;
  text-align: left;
}
.trip-edit {
  margin: 30px;
  text-align: right;
  color: white;
}
.upvotes {
  text-align: right;
  padding: 30px;
}
.newposts {
  padding: 40px;
  text-decoration: underline;
  color: #384745;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  letter-spacing: 0.36px;
  line-height: 24px;
}
.allstories {
  max-width: 100%;
  padding: 0 40px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.allstories .singlestory {
  font-size: 13px;
}
.allstories .singlestory a {
  text-decoration: none;
  color: #16BAC5;
  text-transform: uppercase;
}
.allstories .singlestory img {
  max-width: 350px;
  max-height: 400px;
  border-radius: 10px;
}
.allstories .singlestory h1 {
  padding: 16px;
  text-align: center;
}
.footer-bar {
  height: 116px;
  background-color: #edfcfd;
  text-align: right;
  padding-right: 42px;
}
.footer-bar li {
  display: inline-block;
  color: #384745;
  font-size: 20px;
  letter-spacing: 0.36px;
  padding-left: 75px;
  line-height: 116px;
}
.upload-container-edit {
  padding: 30px 40px;
}
.upload-container-edit .upload-img-container-edit {
  width: 37%;
  border: 0.5px solid #979797;
  border-radius: 8px;
  background-color: rgba(235, 237, 254, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.upload-container-edit .upload-img-container-edit img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.upload-container-edit .upload-img-container-edit p {
  margin-top: 25px;
  color: #384745;
  font-size: 2rem;
  letter-spacing: 0.36px;
  line-height: 24px;
  text-align: center;
}
.upload-top-edit {
  display: flex;
  margin-bottom: 21px;
}
.upload-top-edit .upload-form-edit {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}
.upload-top-edit .radio-btns-edit {
  display: flex;
  justify-content: space-between;
}
.upload-top-edit .radio-btns-edit label {
  font-size: 2rem;
  color: #515151;
  font-weight: 300;
  letter-spacing: 0.36px;
  line-height: 24px;
}
.upload-top-edit .radio-btns-edit p {
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 0.25px;
  line-height: 18px;
}
.upload-top-edit .input-container-edit {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
}
.upload-top-edit .input-container-edit:last-child {
  margin-bottom: 0;
}
.upload-top-edit .input-container-edit label {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.36px;
  line-height: 24px;
}
.upload-top-edit .input-container-edit input {
  box-sizing: border-box;
  height: 59px;
  border: 1px solid #000000;
  border-radius: 8px;
  background-color: #ffffff;
  width: 100%;
  font-size: 27px;
  font-weight: 300;
  letter-spacing: 0.49px;
  line-height: 33px;
  padding-left: 12px;
}
.upload-top-edit .input-container-edit input:focus {
  outline: none;
  border: 1px solid #16bac5;
}
.upload-top-edit .title-edit {
  margin-top: 15px;
}
.upload-bottom-edit {
  display: flex;
  flex-direction: column;
}
.upload-bottom-edit label {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.36px;
  line-height: 24px;
  margin-bottom: 4px;
}
.upload-bottom-edit textarea {
  box-sizing: border-box;
  height: 212px;
  border: 1px solid #000000;
  border-radius: 8px;
  background-color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.36px;
  line-height: 24px;
  resize: none;
  padding: 13px 16px 13px 24px;
}
.upload-bottom-edit textarea:focus {
  outline: none;
  border: 1px solid #16bac5;
}
.upload-btns-edit {
  display: flex;
  justify-content: flex-end;
  margin-top: 22px;
}
.upload-btns-edit button {
  height: 44px;
  font-size: 25px;
  letter-spacing: 0.45px;
  line-height: 30px;
  text-align: center;
  border-radius: 3px;
  padding: 0 30px;
}
.upload-btns-edit button:first-child {
  border: 1px solid #16bac5;
  color: #16bac5;
  background-color: rgba(255, 255, 255, 0.46);
  margin-right: 24px;
}
.upload-btns-edit button:last-child {
  background-color: #16bac5;
  color: #efe9f4;
}
.upload-container-edit .edit-img-container {
  border: 1px solid #16bac5;
}
